
<p class="card" draggable="true" (dragstart)="dragStart($event)" id="{{card.id}}" *ngIf="display && DisplayMe">
  {{card.description}} <button (click) = "displayFalse(); $event.stopPropogation()">Edit</button><button (click) ="delete(); $event.stopPropagation()" >Delete</button>
</p>
  <!-- <button (click) ="delete()">Delete</button> -->
<p *ngIf="!display">
  <input #editCardInput type="text" value = "{{card.description}}"(keyup.enter)="onEnter(editCardInput.value); editCardInput.value=''; display = true;">
</p>


