.list {
  background: #E3E2E1;
  width: 350px;
  padding: 6px;
  margin: 5px;
  display: inline-block;

}

.list__title {
  margin: 0;
  padding: 16px 0;
}
.list a {
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

input{
  width: 300px;
  padding: 10px;
  outline: 0;
  background: #fff;
  box-shadow:5px 2px 2px lightgray;
}

.add_card{
   font-weight: bold;
   display: inline-block;
  cursor: pointer;
 }

#newTask {
  background-color: #0079bf;
  color: white;
}

