div {
  background: #0079bf;
  display: flex;
  padding: 0 5px;
  height: 100vh;
  overflow-x: scroll;
}

input{
  width: 300px;
  padding: 10px;
  box-shadow:5px 2px 2px lightgray;
  outline: 0;
  background: #fff;
  height:5%;
}

.add-card{
  color: red;
  font-weight: bold;
  display: inline-block;
  max-height: 20px;
  border-radius: 25px;
  cursor: pointer;
}

